* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

.cards {
  display: flex;
  background: #eee;
  align-content: space-around;
  align-items: baseline;


}

.card {
  align-content: space-around;
  align-items: baseline;
  background: #fff;
  border: 2px #aaa;
  border-radius: 5px;
  max-width: 470px;
  max-height: 300px;
  overflow: auto;
  margin-bottom: 10px;
  word-break: break-all;

}

img {
    float:right;
    float: top;
    width:100px; /* you can use % */
    height: auto;
}